@page "/pizze"
@using BlazorPrimaApplicazione.Data;
@using ServiceStack.OrmLite;
@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject DialogService DialogService
@attribute [Authorize(Roles = RoleData.ROLE_ADMIN)]

@if (MiePizze != null)
{
    <RadzenButton Text="Create new pizza" Icon="add" Click="CreatePizza" />
    <RadzenGrid Data="@MiePizze" TItem="Pizza" AllowFiltering="true">
        <Template Context="p">
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="View">
                        <PizzaView Pizza="p" />
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Edit">
                        <div class="row">
                            <div class="col-3">Nome</div>
                            <div class="col-9"><RadzenTextBox @bind-Value="p.Name" /></div>
                        </div>
                        <div class="row">
                            <div class="col-3">Descrizione</div>
                            <div class="col-9"><RadzenTextBox @bind-Value="p.Description" /></div>
                        </div>
                        <AuthorizeView Roles="@RoleData.ROLE_ADMIN">
                            <div class="row">
                                <div class="col-3">Prezzo</div>
                                <div class="col-9"><RadzenNumeric @bind-Value="p.Price" /></div>
                            </div>
                        </AuthorizeView>

                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </Template>
        <Columns>
            <RadzenGridColumn TItem="Pizza" Property="Name" Title="Nome pizza" />
            <RadzenGridColumn TItem="Pizza" Property="Description" Title="Desc" />
            <RadzenGridColumn TItem="Pizza" Property="Price" Title="Prezzo" FormatString="{0:F2}" />
        </Columns>
    </RadzenGrid>
}

@code
{
    private List<Pizza> MiePizze;

    protected override void OnInitialized()
    {
        MiePizze = PizzaManager.GetPizzas();
    }

    private async Task ShowInlineDialog()
    {
        var result = await DialogService.OpenAsync<ConfirmationDialog>("Titolo", new Dictionary<string, object>()
        {
            {"CustomText", "Titolo titoloso" }
        });

        if (result == true)
            Toaster.Success("L'utente ha cliccato OK!!!1!11unounonuono");
        else
            Toaster.Error("L'utente ha cliccato cancel :<");

        Console.WriteLine($"Dialog result: {result}");
    }

    private void CreatePizza()
    {
        using var db = OrmHelper.OpenConnection();
        var pizza = new Pizza()
            {
                Name = "Pizza di default"
            };
        db.Save(pizza);
        MiePizze.Add(pizza); // Aggiorna anche l'UI
    }
}
