@inject DialogService ds
<div>
    <p Style="margin-bottom: 1rem">@CustomText</p>
    <div class="row">
        <div class="col-md-12">
            <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="margin-bottom: 10px; width: 150px" />
            <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
        </div>
    </div>
</div>

@code
{
    [Parameter] public string CustomText { get; set; }
}